<div class="container mt-5">
  <div class="form-group">
    <input
      type="text"
      class="form-control"
      placeholder="Search..."
      [(ngModel)]="filterTerm"
    />
  </div>
<br>
<mat-grid-list class="example-list"  cols="4" rowHeight="4:6">
  <mat-grid-tile *ngFor="let comwork of comwork | filter: filterTerm">
<mat-card class="example-card">
 <img mat-card-image id="myimage"  [src]='thumbnail' />
  <mat-card-content>
    <mat-card-title>{{ comwork.surname }}<!-- .. {{ comwork.image_id }}--></mat-card-title>
  </mat-card-content>
    <mat-card-header align="end">
          <mat-card-subtitle>  {{ comwork.stars_count}}</mat-card-subtitle>
          <img mat-card-image src="assets/etoile_81607.png" alt="etoile"  style="width:5%">             
    </mat-card-header>
</mat-card>
</mat-grid-tile>
</mat-grid-list>
</div>
