<div>
  <nav class="navbar navbar-expand navbar-dark bg-dark">
    <a href="#" class="navbar-brand"><img src="assets/image.png" /></a>
    <div class="navbar-nav mr-auto">
      <li class="nav-item">
        <a routerLink="uprod" class="nav-link">Freelance</a>
      </li>
      <li class="nav-item">
        <a routerLink="" class="nav-link">offre d'emploi</a>
      </li>
    </div>
  </nav>

  <div class="container mt-3">
    <router-outlet></router-outlet>
  </div>
</div>

<!--
<br>
<mat-grid-list cols="2" rowHeight="2:1">
  <mat-grid-tile>
    <mat-card>
      <mat-card-content>
        <img src="assets/avatar.jpg" alt="Avatar" style="width:100%">
        <div class="container">
          <h4><b>John Doe</b></h4>
          <div class="aligned">
              <p>Architect & Engineer</p>
          </div>
      </div>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile>2</mat-grid-tile>
  <mat-grid-tile>3</mat-grid-tile>
  <mat-grid-tile>4</mat-grid-tile>
</mat-grid-list>
-->